DJANGO_SECRET_KEY=change-me
HOST=robochi.pp.ua
POSTGRESQL_NAME=robochi
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=change-me
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
TELEGRAM_BOT_TOKEN=put-your-token-here
PROVIDER_TOKEN=put-provider-token-here
SENTRY_DSN=
TELEGRAM_WEBHOOK_SECRET=SZeEaNRelI
DJANGO_SETTINGS_MODULE=config.django.production
HOST=robochi.pp.ua
BASE_URL=https://robochi.pp.ua
