{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<div class="pre-call-page">
    <div class="info">{% trans "Attention! Work time has started but there are not enough workers! If you want to continue searching for workers, click below." %}</div>

    <a href="{% url 'vacancy:refind' pk=pk %}" class="btn-primary">{% trans "Continue search" %}</a>

    {% if members_count %}
        <a href="{% url 'vacancy:call' pk=pk call_type=call_type %}" class="btn-secondary" style="display:block;margin:14px auto;max-width:520px;">{% trans "Not needed" %}</a>
    {% endif %}
</div>
{% endblock %}
