:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007acc;

    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #e0e0e0;
        --accent-color: #bb86fc;

        --message-success-bg: #006b1b;
        --message-warning-bg: #583305;
        --message-error-bg: #570808;
    }
}

* {
    color: var(--text-color);
    background-color: transparent;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);

}

.work_profile {
    --padding: 10px;
    --border-radius: 10px;
    padding: var(--padding);

    & input, select {
        width: calc(100% - var(--padding));
        min-height: 30px;
        margin-bottom: 20px;
        border: 1px solid var(--text-color);
    }

    &.step {
        &.roles {

            & .item label {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-bottom: 20px;
                background-color: rgba(128, 128, 128, 0.5);
                border-radius: var(--border-radius);
                padding: 10px;

                & input {
                    width: auto;
                    margin: 0 10px 0 0;
                }
            }
        }

        &.city {
            input[type="text"],
            input[type="tel"],
            input[type="date"] {
                height: 30px;
                width: calc(100% - var(--padding));
            }

            & div {
                & label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    background-color: rgba(128, 128, 128, 0.5);
                    border-radius: var(--border-radius);
                    padding: 10px;

                    & input {
                        width: auto;
                        margin: 0 10px 0 0;
                    }
                }
            }

        }

        &.contact {
            input[type="text"],
            input[type="tel"],
            input[type="date"] {
                height: 30px;
                margin-bottom: 0;
            }

            & p {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                border-radius: var(--border-radius);
                padding: 10px 0;

            }
        }

    }

    &.main {
        & fieldset {
            margin-bottom: 20px;
            border-radius: var(--border-radius);
            border: 1px solid var(--text-color);
        }
    }


    & button[type="submit"] {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        border-radius: var(--border-radius);

        background-color: rgba(128, 128, 128, 0.5);
    }

}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    background-color: rgba(128, 128, 128, 0.2);

    & a {
        text-decoration: none;
    }
}